[Unit]
Description=Tin paste HTTP server
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/tin.conf

Type=simple
ExecStart=/usr/bin/env twistd3 --nodaemon --uid "${TIN_USER}" --gid nogroup --pidfile "${PIDFILE}" web --listen "${TIN_HTTP_LISTEN}" --wsgi httpserver.app
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
