[Unit]
Description=Tin paste receiver (raw TCP)
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/tin.conf

Type=simple
ExecStart=/usr/bin/env python3 "${PYTHONPATH}/tcp-receiver.py" --port "${TIN_TCP_PORT}" --user "${TIN_USER}" --datapath "${TIN_DATAPATH}" --urlformat "${TIN_URLFORMAT}" --maxsize "${TIN_MAXSIZE}" "${TIN_BURSTMODE}" -v
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
