[Unit]
Description=Tin paste HTTP server
Requires=network.target
After=network.target

[Service]
Environment=PYTHONPATH=/opt/tin/
Environment=TIN_PORT=80
Environment=TIN_DATAPATH=/var/lib/tin/data/
Environment=TIN_INDEX=

Type=simple
ExecStart=/usr/sbin/twistd --nodaemon web --port "tcp6:${TIN_PORT}" --wsgi httpserver.app
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
